*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: roboto, arial;
    margin-bottom: 50px;
}

.btns {
    background-color: transparent;
    height:100px;
    width:100px;
    border: 2px solid white;
    border-radius: 50%;
    margin:15px;
    font-size: 50px;
}

#tempRes {
    margin:20px;
    color:white;
    text-align: center;
    font-family: roboto, Arial;
    font-size: 15px;
    line-height: 24px;
}

#res{
    color:white;
    text-align: center;
    font-family: roboto, Arial;
    font-size: 20px;
    margin-bottom: 15px;
}

#playbtn {
    padding: 7px 15px;
    border-radius: 5px;
}

#score {
    color: white;
    margin: 50px 0;
    font-size: 20px;
    display: flex;
    font-family: roboto, arial;
    justify-content:space-between;
    width:260px;
}

#restart {
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 5px;
}